<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/location.svg' %}">
    <title>GPS Toll based System</title>

 
    <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/style.css' %}">
    <style>
        .container{
            width:100%;
            height:100vh;
            background-image:url('{% static "img/background.jpg" %}');
            background-size: cover; /* Ensures the image covers the entire container */
            background-position: center; /* Centers the image */
            background-repeat: no-repeat; 
            padding-left: 8% ;
            padding-right: 8%;
            box-sizing:border-box;
        }
    </style>
</head>
<body>
    <form action="" method="post" autocomplete="off">
    {% block content %}
    <div class="container">
        <div class="header">
            <div class="navbar">
                <a href="#" >HOME</a>
                <a href="#" >SERVICES</a>
                <a href="#" >CONTACT</a>
                <a href="#" >ABOUT US</a>
            </div>
        <BUTTON class="btn" name="login" id="login"><a href="{% url 'login' %}">LOGIN</a></BUTTON>
       

    </div>
        <div class="content">
            <h1>GPS Toll Based System</h1>
            <button class="btn" name="admin" id="admin"><a href="{% url 'admin' %}">ADMIN</a></button>
            <button class="btn"><a href="{% url 'register' %}">NEW USER</a></button>
        </div>
    </div>

    <div id="id01" class="modal">
  
      <form class="modal-content animate" action="login_action" method="post" autocomplete="off">

        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
    
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
            
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    {% endblock %}
    </form>
</body>