<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/image2.jpg' %}">
    <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/stylechoose.css' %}">
    <style>
        body {
            background-image: url('{% static "img/image2.jpg" %}');;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: lightskyblue;
            font-family: Arial, sans-serif;
        }
        
    </style>
    <title>Button Page</title>
</head>
<body>
    
   
</body>
</html>