<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/image2.jpg' %}">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
    <style>
        .container{
            width:100%;
            background-image:url('{% static "img/background.jpg" %}');
            background-repeat: no-repeat; 
            padding-left: 8% ;
            padding-right: 8%;
            box-sizing:border-box;
        }

        .dashboard__btn {
            padding: 10px;
            font-size: 18px;
            margin-top: 10px;
            border: none;
            color: white;
            background-color: black;
            }
    </style>
</head>
<body>
    
    <div class="container">
        <div class="header">
            <div class="content1">
                
            </div>
       
            <div>
            <nav>
                <a href="#" onclick="loadContent('/mid/viewhistory/')">History</a>
                <a href="#" onclick="loadContent('/mid/simulate/')">Take a Trip</a>
                <a href="#" onclick="loadContent('/mid/paymentpg/')">Payment</a>
                <a href="#" onclick="loadContent('/mid/contact/')">Contact</a>
            </nav>
        </div>
        <BUTTON className="dashboard__btn" name="logout" id="logout" ><a href="{% url 'logout_btn' %}">Logout</a></BUTTON>
       
        </div>
    </div>
</body>
</html>


